<h1>Anagram Tester</h1>
<form action="/anagram">
  <div class="form-group">
     <label for="anagram">Try typing in two words
</label>
     <input id="anagram" name="anagram" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
