<h1>Enter two words to see if they are an anagram or antigram</h1>
<form action="/anagram">
  <div class="form-group">
    <label for="anagram1">Enter word one:</label>
    <input id="anagram1" name="anagram1" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Compare</button>
</form>
